:root {
    /* Fonts */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    /* Colors */
    color: #313945;
    background-color: #f0f0f0;
    /* Utils */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.menubar-background {
    background-color: #f0f0f0;
}
html {
    scroll-behavior: smooth;
}
.container {
    height: 105vh;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin-top: 80px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-item {
    cursor: pointer;
    margin: -20px 20px 10px 20px;
    height: 30px;
}

.nav-item > a {
    font-weight: bold;
    text-decoration: none;
    color: #313945;
}

.nav-item-icon {
    font-size: 2.2rem;
}

/* Splash */
#splash-name {
    font-size: 10vw;
}

/* About */
#profile-pic {
    width: 40em;
    height: 50em;
    object-fit: cover;
    padding: 2em;
    border-radius: 40px;
}

#profile-content {
    margin: 0 0 0 -8em;
}
/* Project */
.project-preview {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

#projects {
    width: 25em;
}

/* Experience */

/* Footnote */
