:root{
  /* Fonts */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  /* Colors */
  color: #313945;
  background-color:#F0F0F0;
  /* Utils */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menubar-background{
  background-color:#F0F0F0;
}
html { 
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  height: 100vh;
  padding:3em 0 0 0
}

#app{
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color:#F0F0F0;
  border-bottom: 1px solid #DDDDDD;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
}


/* Splash */
#splash-name{
  font-size: 10vw;

}

/* About */
#profile-pic{
	width: 40em;
	height: 50em;
	object-fit: cover;
	padding: 2em;
  border-radius: 40px;
}

#profile-content{
  margin:0 0 0 -8em;
}
/* Project */
.project-preview{
  width: 250px;
  height: 150px;
	object-fit: cover;
}

#projects{
  width:25em;
}

/* Experience */

/* Footnote */